@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model IEnumerable<AnimalShelter.Models.Animal>;

<h1>Animals</h1>

@if (@Model.Count() == 0)
{
  <h3>No animals have been added yet.</h3>
}

<ul>
@foreach (Animal animal in Model)
{
  <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId }) | @animal.AnimalType.Name</li>
}
</ul>

<p>@Html.ActionLink("Sort by Breed", "Index", new { sortOrder = "breed"})</p>
<p>@Html.ActionLink("Sort by Admittance Date", "Index", new { sortOrder = "date"})</p>
<p>@Html.ActionLink("Add new animal", "Create")</p>